.repo-card {
  color: white;
  width: 50vw;
  padding: 10px;
  font-size: 14px;
  box-shadow: 0 4px 8px 0 rgba(58, 70, 13, 0.4);
  transition: 0.5s;
  margin-bottom: 20px;

  .repo-name {
    color: #ffd52d;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .information {
    display: flex;
    margin-top: 20px;

    .icon {
      margin-right: 20px;
    }
  }
}

.repo-card:hover {
  box-shadow: 0 8px 16px 0 rgba(209, 255, 23, 0.897);
}

@media screen and (max-width: 800px) {
  .repo-card {
    width: 70vw;
  }
}
